## Archivos de configuración de usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

## Carpetas de compilación (Aca adentro está el código pesado que NO va a GitHub)
[Dd]ebug/
[Rr]elease/
bin/
obj/

## Archivos generados por el compilador o publicados
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config

## Configuración local de desarrollo (evita filtrar claves de base de datos futuras)
appsettings.Development.json